input {
  padding: 15Px;
  border-radius: 6px;
}

select {
  padding: 15px;
  border-radius: 10px;
}

#upload {
  padding: 15px;
  border-radius: 4px;
  border: 6px solid black;
}

#headerSection {
  padding: 1px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:mediumaquamarine;
}

#loginSection {
  padding: 10px;
  background-color:mediumaquamarine;
}

body {
  background-color:mediumaquamarine;
}

#loginbtn {
  padding: 10px;
  font-size: 12px;
  background-color: #3498db;
  color: white;
  border-radius: 10px;
}

#reglink {
  padding: 5px;
  font-size: 10px;
  background-color: #3498db;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

#mainSection {
  padding: 5px;
}

#profileSection {
  width: 50%;
  float: right;
  background-color: white;
  padding: 10px;
}

#groupSection {
  width: 40%;
  float: left;
  background-color: white;
  padding: 10px;
}



#logout-button {
  float: right;
  margin-right: 25px;
  margin-top: 20px;
  padding: 5px;
  font-size: 10px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
}
